/* My styles */
body, html {
  margin: 0;
  height: 100%;
  font-size: 100%;
}
#header {
  background: #2D3642;
  color: white;
  height: 45px;
  width: 100%;
  position: fixed;
  top: 0;
  margin: 0px auto;
  padding-top: 12px;
  z-index: 95;
  display: inline;
  clear: both;
}
#page {
  width: 100%;
  margin: 45px auto 0 auto;
}
ul {
  margin-top: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: #FF706C;
  -webkit-transition: color 0.5s ease-in;
  -moz-transition: color 0.5s ease-in;
  -o-transition: color 0.5s ease-in;
  -ms-transition: color 0.5s ease-in;
  transition: color 0.5s ease-in;
}
li {
  display: inline;
  padding-right: 30px;
  padding-left: 30px;
}
h2 {
  padding-left: 20px;
  padding-top: 50px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: white;
  display: inline;
  font-weight: 300;
}
h3 {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: white;
  padding-top: 13px;
  padding-left: 10px;
}
p {
  margin-top: -45px;
  margin-right: -8px;
  line-height: 25px;
  padding: 30px;
  font-family: 'Quattrocento', serif;
  font-size: 18px;
  text-align: right;
}
#homepage {
  background: url("../images/me.jpg");
  color: white;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.layer {
  background-color: rgba(255, 69, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#index-title { 
  padding-left: 20px;
  padding-top: 210px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 4.6em;
  color: white;
  line-height: 120%;
}
#index-h2 {
  padding-left: 20px;
  top: -20px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 2.3em;
  color: white;
  display: inline;
  font-weight: 200;
  position: relative;
}
.icon {
  width: 80px;
  height: 80px;
  padding-left: -8px;
}
#pup {
  z-index: 200; /* aaaalways on top*/
  text-align: center;
  background: #9Ab2c1;
  font-size: 1.6em;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: white;
  max-width: 32%;
  padding-top: 13px;
  padding-bottom: 13px;
  display: inline-block; /* needed for anchors */
  position: relative;
  box-shadow: 1px 0px #5C6B74, 0px 1px #7B8E9A,
              2px 1px #5C6B74, 1px 2px #7B8E9A,
              3px 2px #5C6B74, 2px 3px #7B8E9A,
              4px 3px #5C6B74, 3px 4px #7B8E9A,
              5px 4px #5C6B74, 4px 5px #7B8E9A,
              6px 5px #5C6B74, 5px 6px #7B8E9A;
}
.nav_list {
  float: right;
  display: inline-block;
}
#email-popup {
  font-size: 0.9em;
}
#full-resume {
  background: url("../images/resume.jpg");
  background-size: cover;
  margin-top: 50px;
  width: 80%;
  height: 80%;
}
#resume-wrapper-outer, 
#resume-wrapper-inner {
  text-align: center
}

.large-block-grid-3 > li {
    padding: 0;
}

.small-block-grid-1 > li {
    padding: 0;
}
.thumbcaption .thumbcaption-title {
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  line-height: 1em;
  font-weight: 500;
  color: white;
}

.thumbcaption .thumbcaption-description {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.3em;
  color: rgb(45,53,65);
}

.thumbcaption .box-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1em;
  text-transform: uppercase;
  color: #CBD9E1;
}
@media (min-width: 220px) {
    html { font-size:35%; }
    #index-title, #index-h2 {
      padding-left: 12px;
      line-height: 22px;
    }
}
@media (max-width: 400px) {
  .icon {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 700px) and (min-width: 400px) {
  html { font-size:50%; }
  .icon {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 480px) {
    html { font-size: 60%; }
}

@media (min-width: 700px) {
    html { font-size: 80%; }
}

@media (min-width: 1024px) {
    html { font-size: 100%; }
}